[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-bad-rpmversion
Exec=harbour-bad-rpmversion
Name=harbour-bad-rpmversion
# translation example:
# your app name in German locale (de)
Name[de]=harbour-bad-rpmversion

