[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-vendor-meego
Exec=harbour-vendor-meego
Name=harbour-vendor-meego
# translation example:
# your app name in German locale (de)
Name[de]=harbour-vendor-meego

