[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-bad-vendor
Exec=harbour-bad-vendor
Name=harbour-bad-vendor
# translation example:
# your app name in German locale (de)
Name[de]=harbour-bad-vendor

